@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

  body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    line-height: 1.4;
    font-size: 16px;
  }

  main {
    max-width: 700px;
    margin: 0 auto; /* centers the column */
    padding: 3rem 1rem;
    box-sizing: border-box;
  }

  h1, h2, h3 {
    margin: 0 0 0.5rem;
    padding: 0;
  }

  h1 {font-size: 2rem;} /* ~32px */
  h2 {font-size: 1.5rem;} /* ~24px */
  h3 {font-size: 1.2rem;} /* ~19px */

  p {
      padding: 0;
      margin: 0.5rem 0;
      margin-bottom: 0.25rem;
  }

  a {
    /* color: #777; */
    color: #0e5e06;
    text-decoration: none;
  } 
  a:hover {
    /* color: #146B0F; */
    text-decoration: underline;
  } 

  .section {
    width: 100%; 
    margin: 1rem 0;
    box-sizing: border-box;
  }

  .section ul {
    margin: 0.8rem 0 0;
    padding-left: 1.25rem;
    list-style-type: disc;
  }

  .section li {
    margin-bottom: 0.5em;
  }

  .back-button {
    padding: 0;
    margin: 0;
    margin-left: 0.25em;
    font-size: 1rem;
    vertical-align: bottom;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 0.37em;
  }
